*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial;
   
}

body{
    font-family: Arial;
   

}

.container{
    background-color: rgb(202, 202, 202);
    height: 700PX;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;

}

#produto-sorteado{
    display: flex;
    margin-top: 30px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}

.letras{
    width: 16px;
    text-align: center;
    border-bottom: 2px solid red; 
    color: white;
    padding: 2px;
    margin-left: 2px;
    margin-right: 2px;


}

#teclado{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 30px;
 
}

.teclas button{
    
    width: 24px;
    height: 24px;
    margin: 2px;
    margin-bottom: 5px;
    cursor: pointer;
    box-shadow: 0px 2px 8px dimgray;
    border-radius: 5px;
    border: 1px solid dimgray;
    color: red;
    font-weight: 700;
    
}
.teclas {
    display: flex;
    justify-content: center;
    width: 410px;
    height: 40px;
}
#btnReiniciar{
    width: 400px;
}



#dicas button{
    width: 70px;
    height: 40px;
    margin: 40px;
    margin-bottom: 5px;
    cursor: pointer;
    box-shadow: 0px 2px 8px dimgray;
    border-radius: 5px;
    border: 1px solid dimgray;
    color: red;
    font-weight: 700;
    
}

.teclas button:hover{
    transform: scale(1.3);

}

@media (min-width: 321px){
    .teclas button{
    width: 25px;
    height: 25px;

}

@media (min-width: 376px){
    .teclas button{
    width: 30px;
    height: 30px;
}
    .produto-sorteado{
        font-size: 1.3em;
    }

    .letras{
        width: 18px;
    }
}   

@media (min-width: 426px){
    .teclas button{
    width: 36px;
    height: 36px;
}
    .produto-sorteado{
        font-size: 1.5em;
    }

    .letras{
        width: 20px;
    }
}   
}

header {
    display: flex;
    flex-direction: column;
    height: 200px;
}
.cabeçalho-container1 {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pesquisa {
    display: flex;
    justify-content: center;
    width: 450px;
}
.icon_header {
    height: 20px;
}
nav{
    display: flex;
    justify-content: center;
    justify-content: space-between;
    width: 300px;
}


.botão {
    border-radius: 0px 10px 10px 0px;
}
.search{
    display: flex;
    width: 300px;
  
    border-radius: 10px 0px 0px 10px;

}
ul {
    display: flex;
    justify-content: center;

}
li {
    display: flex;
    justify-content:center ;
    list-style: none;
    width: 220px;
}
a {
    text-decoration: none;

}

section {
    height: 70px;
    display: flex;
    justify-content: center;
    
}
.jogo {
    width: 420px ;
    display: flex;
    justify-content: space-between;
}
.appliances {
    height: 200px;
    display: flex;
    justify-content: center;
    background-image:url(./Imagem/banner.png) ;
    background-repeat: no-repeat;
    background-size: cover;
}

.icon_controle:hover {
    opacity: 0.8;

}
